@model RestaurantPluralSight.Models.Restaurant

@{
    ViewBag.Title = Model.Name;
}
<link href="~/main.css" rel="stylesheet" />
<div></div>
<br />

<div style="text-align:center">
    <h1>@Model.Name</h1>

    <h5>Kundnummer: @Model.Id</h5>

    <h5>Antal dosor: @Model.Cuisine</h5>

    <h5>E-post: @Model.EmailAddress</h5>

    <h5>Telefonnummer: @Model.PhoneNumber</h5>

    <br />

    <a class="btn btn-warning" asp-action="Index" asp-controller="Home">Hem</a>
</div>